* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size:62.5%;
}

body{
    background:linear-gradient(#C4C4C4, #bd0360);
    background-repeat: no-repeat;
    display: grid;
    align-content:center;
    justify-content: center;

    min-width: 80rem;
    height: 100%;

    font-family:'Montserrat', sans-serif;

}

main {
    display: grid;
    justify-content: center;
    align-content: center;
    min-width: 100rem;
    height: 100vh;
}

.title {
    font-size: 8rem;
    text-align: center;
}

.btn {
    width: 16rem;
    height: 6rem;
    margin: 1rem 0 0 45rem;

    font-weight: bold;
    color: #FFFFFF;
    font-size: 2.5rem;

    border: 4px solid #fc86ad ;
    border-radius: 1rem;
    background: #d65e78;

    transition: all .3s;

    cursor: pointer;
}

.btn:hover{
    transform: translateY(1rem);
    background-color: #FFFFFF;
    color: #fc86ad;
}

span:hover{
    transform: translateY(1rem);
    color: #fc86ad;
}

.noDisplay {
    display: none;
}

.container {
    min-width: 100rem;
    height: 100%;
}

.container p {
    text-align: center;
    font-size: 6rem;

    margin: 50rem 0;
}

.hidden {
    opacity: 0;
    transition: all 2.2s;
}

.show {
    opacity: 1;
    animation: slideIn .6s ease-in;

}

@keyframes slideIn {
    from{
        transform:scale(0.7);
    }

    to{
        transform: scale(1);
    }
}